@charset "utf-8";

/*---------------------*/
/* 修飾表單             */
/*---------------------*/
div.form{
    border: 1px dotted #666;
    padding: 10px 20px;
    margin: 10px 0;
}

div.form span{
    height:40px;
    line-height:40px;
}

div.form span.name{
    display:inline-block;
    width:70px;
    margin-right:10px;
    text-align:right;
}