@charset "utf-8";
/* CSS Document */
html, body{
    font-family: 'Noto Sans TC', sans-serif;
	margin:0;
    padding:0;
    background:#73E68C;
    }
div.navbar{
    height:80px;
    background:#8FBC8F;
    min-width:800px;
    width:100%;
    }
div.navbar ul{
     margin: 0;
     padding: 0;
    list-style-type:none;
    position:relative;
     top: 30px;
    left:50%;
     }
ul a{
    text-decoration: none;
    }
 div.content{
    width:800px;
    margin:0 auto;
    position:relative;
    padding: 20px 30px;
    background:#fff;
    }
div.content span{
    font-weight:100px;
    line-height: 30px;
    text-align:justify;
    }
span.first{
    color:#50C878;
    font-style: italic;
}
span.sec{
    color:#E69966;
}
span.green{
    color:#50C878;
    font-weight:800;
}
iframe{
    padding:20px 10px;
    box-shadow: 0 5px 5px 0 #000;
	}
div.footer{
    background: #4DE680;
    width:800px;
    height:60px;
}